<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Vue 测试实例</title>
<script src="https://cdn.staticfile.org/vue/2.6.2/vue.min.js"></script>
</head>
<body>
<div id="app">
  input todo name: <input type="text" v-model="todoName"> <button @click='addHandle'>add</button>
  <ul>
    <li v-for="(item, index) in todoList" :key="item + index">{{index}}、{{item}} <button @click="todoList.splice(index, 1)">delete</button></li>
  </ul>
</div>

<script>
new Vue({
  el: '#app', // 渲染跟根组件选择器名称
  data: { // 声明组件的响应式状态
    todoName: '',
    todoList: ['🍎', '🍌'],
  },
  methods:{ // 声明方法
    addHandle:function(e) {
      this.todoList.push(this.todoName);
      console.log("this:", this)
      this.todoName = '';
    },
    deleteHandle:function(index) {
      this.todoList.splice(index, 1);
    }
  },
})
</script>
</body>
</html>